section.rounds {
    color: #fff;
    background: #18bc9c;
}

section.rounds div.caption-content h1 {
    color: #fff;
}

section.rounds div.caption-content h1.current {
    color: #ee5f5b;
}

section.rounds div.caption-content h1.future {
    color: #d3d3d3;
}

section {
    padding-bottom: 20px;
}

section.last {
    padding-top: 0px;
}

div.modal-body hr:not(.star-primary) {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.modal-body p {
    margin-bottom: 0px;
}

.table-hover tr {
    cursor: pointer;
}

section#sign-up {
    min-height: 350px;
}

section#sign-up div.alert {
    margin-top: 20px;
}
