<div class="portfolio-modal modal fade" id="historyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="modal-body">
                        <h2>Season {{history_league_season}}</h2>
                        <hr class="star-primary">
                        <div class="row">
                            <table class="table table-striped table-hover table-condensed">
                                <thead>
                                    <th class="col-sm-3 text-left">&nbsp;</th>
                                    <th class="col-sm-1 text-center">
                                        P
                                    </th>
                                    <th class="col-sm-1 text-center">
                                        W
                                    </th>
                                    <th class="col-sm-1 text-center">
                                        L
                                    </th>
                                    <th class="col-sm-1 text-center">
                                        D
                                    </th>
                                    <th class="col-sm-1 text-center">
                                        F
                                    </th>
                                    <th class="col-sm-1 text-center">
                                        A
                                    </th>
                                    <th class="col-sm-1 text-center">
                                        PD
                                    </th>
                                    <th class="col-sm-1 text-center">
                                        Score
                                    </th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="player in history_league[history_league_season]"
                                        class="{{($first && player.played > 0) ? 'danger' : ($index < 3 && player.played > 0) ? 'warning' : '' }}">
                                        <td class="col-sm-3 text-left"><strong>{{player.name}}</strong></td>
                                        <td class="col-sm-1 text-center">{{player.played}}</td>
                                        <td class="col-sm-1 text-center">{{player.won}}</td>
                                        <td class="col-sm-1 text-center">{{player.lost}}</td>
                                        <td class="col-sm-1 text-center">{{player.drawn}}</td>
                                        <td class="col-sm-1 text-center">{{player.for}}</td>
                                        <td class="col-sm-1 text-center">{{player.against}}</td>
                                        <td class="col-sm-1 text-center">{{player.points_diff}}</td>
                                        <td class="col-sm-1 text-center"><strong>{{player.score}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
