<section id="league">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>League</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <th class="col-lg-3">&nbsp;</th>
                    <th class="col-lg-1 text-center">
                        P
                    </th>
                    <th class="col-lg-1 text-center">
                        W
                    </th>
                    <th class="col-lg-1 text-center">
                        L
                    </th>
                    <th class="col-lg-1 text-center">
                        D
                    </th>
                    <th class="col-lg-1 text-center">
                        F
                    </th>
                    <th class="col-lg-1 text-center">
                        A
                    </th>
                    <th class="col-lg-1 text-center">
                        PD
                    </th>
                    <th class="col-lg-1 text-center">
                        Score
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="player in league" class="{{($first && player.played > 0) ? 'danger' : ($index < 3 && player.played > 0) ? 'warning' : '' }}">
                        <td class="col-lg-3"><strong>{{player.name}}</strong></td>
                        <td class="col-lg-1 text-center">{{player.played}}</td>
                        <td class="col-lg-1 text-center">{{player.won}}</td>
                        <td class="col-lg-1 text-center">{{player.lost}}</td>
                        <td class="col-lg-1 text-center">{{player.drawn}}</td>
                        <td class="col-lg-1 text-center">{{player.for}}</td>
                        <td class="col-lg-1 text-center">{{player.against}}</td>
                        <td class="col-lg-1 text-center">{{player.points_diff}}</td>
                        <td class="col-lg-1 text-center"><strong>{{player.score}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<section class="rounds" id="rounds">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Rounds</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item" ng-repeat="number in roundButtons">
                <a href="#roundModal" class="portfolio-link" ng-click="showRound(number); $event.preventDefault()">
                    <div class="caption">
                        <div class="caption-content text-center">
                            <h1 class="{{(number == current_round) ? 'current' : (number > current_round) ? 'future' : ''}}">{{number}}</h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="rules">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Rules</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row text-center">
            <ul class="list-unstyled">
                <li><strong>General:</strong></li>
                <li>Matches are 3 games long, all 3 games should be played.</li>
                <li>Games are played first to 11 points, but games must be won by 2 clear points.</li>
                <li>3 points for a win, 0 points for a loss.</li>
                <li>Each round will usually be a week in length.</li>
                <li>Games can be delayed for valid reasons e.g. holiday, injury etc.</li>
                <li>Uncompleted games will be a draw (but will be 0 points).</li>
            </ul>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row text-center">
            <ul class="list-unstyled">
                <li><strong>Serving:</strong></li>
                <li>Alternates every 2 points. If both players reach 10 points service will then alternate after each point.</li>
                <li>Must bounce once on the servers side, followed by the receivers side, without touching anything else.</li>
                <li>An otherwise legal serve that touches the net is retaken, without any points gained or lost.</li>
            </ul>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row text-center">
            <ul class="list-unstyled">
                <li><strong>Points are scored in the event that:</strong></li>
                <li>Opponent fails to make a correct service or return</li>
                <li>After making a service or a return, the ball touches anything other than the net assembly or table before being struck by the opponent.</li>
                <li>The ball passes over the player's court or beyond his end line without touching his court, after being struck by the opponent.</li>
                <li>The opponent obstructs the ball.</li>
                <li>The opponent strikes the ball twice successively.</li>
                <li>The opponent strikes the ball with a side of the racket blade whose surface is not covered with rubber.</li>
                <li>The opponent moves the playing surface or touches the net assembly.</li>
                <li>The opponent's free hand touches the playing surface.</li>
            </ul>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row text-center">
            <ul class="list-unstyled">
                <li><strong>Completing your game score:</strong></li>
                <li>The winner should entire the score for their game in the <a href="#rounds" ng-click="pageScroll($event); $event.preventDefault()">Rounds</a> section.</li>
                <li>Entering a score will automatically update the <a href="#league" ng-click="pageScroll($event); $event.preventDefault()">League</a> (Once entered it cannot be changed).</li>
                <li>Any problems contact <a href="mailto:{{admin_email}}">{{admin_email}}</a>.</li>
            </ul>
        </div>
    </div>
</section>

<div class="portfolio-modal modal fade" id="roundModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Round {{round_number}}</h2>
                        <hr class="star-primary">
                        <div class="row">
                            <div class="col-lg-3 text-center"><strong>Starts:</strong></div>
                            <div class="col-lg-3">
                                <a href="#" ng-show="admin_user" editable-text="round.start_date" e-placeholder="YYYY-MM-DD" e-style="width: 120px" onbeforesave="updateRoundDates(round_number,'start',$data)">
                                    {{round.start_date || "empty" }}
                                </a>
                                <span ng-hide="admin_user">{{round.start_date}}</span>
                            </div>
                            <div class="col-lg-3 text-center"><strong>Ends:</strong></div>
                            <div class="col-lg-3">
                                <a href="#" ng-show="admin_user" editable-text="round.end_date" e-placeholder="YYYY-MM-DD" e-style="width: 120px" onbeforesave="updateRoundDates(round_number,'end',$data)">
                                    {{round.end_date || "empty" }}
                                </a>
                                <span ng-hide="admin_user">{{round.end_date}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <hr />
                            <table class="table">
                                <tr ng-repeat="game in round.games">
                                    <td class="col-lg-3">{{game.player1}}</td>
                                    <td class="col-lg-2">
                                        <a href="#" ng-hide="game.winner" editable-number="game.score1" e-min="0" e-max="3" e-style="width: 60px" onbeforesave="updateScore(game.id,{player1: game.player1, score1: $data})">
                                            {{(game.score1) ? game.score1 : 0}}
                                        </a>
                                        <span ng-show="game.winner" >{{(game.score1) ? game.score1 : 0}}</span>
                                    </td>
                                    <td class="col-lg-1">V</td>
                                    <td class="col-lg-2">
                                        <a href="#" ng-hide="game.winner" editable-number="game.score2" e-min="0" e-max="3" e-style="width: 60px" onbeforesave="updateScore(game.id,{player2: game.player1, score2: $data})">
                                            {{(game.score2) ? game.score2 : 0}}
                                        </a>
                                        <span ng-show="game.winner" >{{(game.score2) ? game.score2 : 0}}</span>
                                    </td>
                                    <td class="col-lg-3">{{game.player2}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
